body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
}

header{
    background-color: #333;
    color: white;
    text-align: center;
}

p{
    text-align: center;
}